[submodule "spcoin-front-end"]
	path = spcoin-front-end
	url = git@github.com:sponsorCoinAdmin/spcoin-front-end
[submodule "spcoin-back-end"]
	path = spcoin-back-end
	url = git@github.com:sponsorCoinAdmin/spcoin-back-end.git
