[submodule "spcoin-front-end"]
	path = spcoin-front-end
	url = git@github.com:sponsorCoinAdmin/spcoin-front-end
[submodule "spcoin-common"]
	path = spcoin-common
	url = git@github.com:sponsorCoinAdmin/spcoin-common
